body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
   
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 5px;
}

.container input {
    padding: 10px;
    margin-bottom: 10px;
}

.container input[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #2980b9;
}